:root {
    --clr_primary: #303634;
    --clr_hover: #4e5552;
    --clr_light-gray: #dddddd;
    --bg_clr-gray: #CDCEC9;
    --bg_clr-darker-gray: #bdbeb9;
    --bg_clr-red: #BB515A;
}

.bg-gray {
    background-color: var(--bg_clr-gray);
}

.bg-darker-gray {
    background-color: var(--bg_clr-darker-gray);
}

.bg-red {
    background-color: var(--bg_clr-red);
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--bg_clr-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--clr_primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr_hover);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--clr_primary);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body, h2, p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3rem;
}

a {
    color: inherit;
}

a:hover {
    color: var(--clr_hover);
}

q:before {
    content: '«';
}

q:after {
    content: '»';
}

.btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-primary {
    color: var(--bg_clr-gray);
    background: var(--clr_primary);
}

.btn-primary:hover {
    color: var(--bg_clr-gray);
    background-color: var(--clr_hover);
}

.padding-sides {
    padding: 0 15%;
}

.padding-small {
    padding: 2rem 0;
}

.padding-big {
    padding: 4rem 4rem;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 4rem;
    height: auto;
    fill: var(--clr_primary);
}

.nav__logo:hover {
    fill: var(--clr_hover);
}

.nav__links-container {
    display: flex;
    gap: 2rem;
}

.nav__link {
    color: inherit;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.section-hero {
    display: flex;
    justify-content: center;
}

.section-hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.section-hero__heading {
    font-size: 5rem;
    margin: 1rem 0;
    line-height: 5rem;
}

@media (max-width: 500px) {
    .section-hero__heading {
        font-size: 4rem;
    }
}

.section-hero__image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.nav__container,
.section-hero__container {
    max-width: 1400px;
    width: 100%;
}

@media (max-width: 1600px) {
    .nav__container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .section-hero__container {
        flex-direction: column;
        text-align: center;
    }
}

.section-facts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem;
}

.section-gallery__images-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.section-gallery__image {
    width: auto;
    height: 300px;
    box-shadow: 10px 10px 56px -14px rgba(48, 54, 52,0.7);
    border-radius: .5rem;
}

.section-quote {
    font-size: 3rem;
}

.section-quote__container {
    align-items: flex-end;
    gap: 1rem;
    color: var(--clr_light-gray);
}

.section-quote__cite {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
