:root {
    --clr_primary: #303634;
    --clr_hover: #4e5552;
    --clr_light-gray: #dddddd;
    --bg_clr-gray: #CDCEC9;
    --bg_clr-darker-gray: #bdbeb9;
    --bg_clr-red: #BB515A;
}

.bg-gray {
    background-color: var(--bg_clr-gray);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--clr_primary);
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: var(--clr_hover);
}

.btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-primary {
    color: var(--bg_clr-gray);
    background: var(--clr_primary);
}

.btn-primary:hover {
    color: var(--bg_clr-gray);
    background-color: var(--clr_hover);
}

.padding-sides {
    padding: 0 15%;
}

.padding-small {
    padding: 2rem 0;
}

nav {
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 4rem;
    height: auto;
    fill: var(--clr_primary);
}

.nav__logo:hover {
    fill: var(--clr_hover);
}

.nav__links-container {
    display: flex;
    gap: 2rem;
}

.nav__link {
    color: inherit;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.section-hero {
    display: flex;
    justify-content: center;
}

.section-hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.section-hero__heading {
    font-size: 5rem;
    margin: 1rem 0;
    line-height: 5rem;
}

.section-hero__image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.nav__container,
.section-hero__container {
    max-width: 1400px;
    width: 100%;
}

@media (max-width: 1600px) {
    .nav__container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .section-hero__container {
        flex-direction: column;
        text-align: center;
    }
}
